<div class="card">
  <div class="card-header">
    <h3 class="card-title">Edit Leave Request</h3>
  </div>
  <div class="card-body">
    <%= render partial: 'form', locals: { form_url: leave_leave_path(@leave) } %>
  </div>
</div>
