<table>
  <tr><th>Leave Type</th><th>Times Taken</th></tr>
  <% @trends.each do |type_id, count| %>
    <tr>
      <td><%= LeaveType.find(type_id).name %></td>
      <td><%= count %></td>
    </tr>
  <% end %>
</table>
