<div class="container mt-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Edit Leave Type</h3>
    </div>
    <div class="card-body">
      <%= render 'form', leave_type: @leave_type %>
    </div>
  </div>
</div>
